.logo{
    font-size: 2rem;
    color:	#000080;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background-color:#F0F8FF;
    height: 3rem;
    padding:0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: center;
    grid-gap: 10rem;
}