.logo{
    font-size: 2rem;
    color:	#000080;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    max-width: 100%;
    background-color:#F0F8FF;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

