.container{
    width: 50%;
    background: rgba(255,235,200,0.3);
    text-align: left;
    padding:1rem;
    margin:1rem auto;
    position: relative;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4)
}
.text{
    font-size: 1rem;
    color:powderblue;
}