*,*::after,*::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    min-height: 100%;
    font-family: sans-serif;
    background: url(background.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
}
a{
    text-decoration: none;
}
